[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cdktf = "~=0.20.5"
pytest = "*"
cdktf-cdktf-provider-aws = "~=19.11.0"

[dev-packages]

[requires]
python_version = "3.9"
